# Python System Files
venv/
__pycache__/
*.pyc

# Environment Variables (Secrets)
.env

# IDE Settings
.vscode/
.idea/

# Database (NEVER upload this)
*.db
*.sqlite3
sql_app.db

# File Uploads (Privacy & Space)
# Ignore everything inside the uploads folder
uploads/*

# BUT do not ignore the .gitkeep files that keep the folders alive
!uploads/.gitkeep
!uploads/submissions/.gitkeep